<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>

<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <div id="app">
        <div class="wrapper">
            <h1>Список дел</h1>
            <p>Чтобы ничего не забыть, лучше составить список. Например, какие фильмы стоит посмотреть или что купить в
                магазине. Собрали приложения, в которых это удобно делать. Все они доступны бесплатно, но у некоторых
                есть платные версии — в них больше возможностей.</p>
            <input type="text" v-model="item" placeholder="Введите задачу">
            <button @click="add_list()" :disabled="item.trim() === ''">Добавить</button>
            <hr>
            <ul>
                <li v-for="text_item in list">
                    {{text_item}}
                </li>
            </ul>
        </div>
    </div>

    <script type="module" src="./script.js"></script>

</body>

</html>