.wrapp {
    width: 100%;
    display: flex;
}

.sidebar {
    width: 20%;
    height: 100%;
    background-color: #0b0b0d;
}

.content {
    width: 80%;
}

.logo {
    display: flex;
    justify-content: center;
    margin-top: 40px;

}

.menu {
    text-align: center;
    margin-top: 50px;
}

.menu>ul {
    list-style-type: none;
}

.menu a {
    color: #fff;
    text-decoration: none;
}

.menu li {
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 25px;
}

.active:after {
    content: "";
    width: 5px;
    height: 42px;
    background-image: url(img/Marker.svg);
    display: block;
    left: 0;
    top: -33px;
}